@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

body {
    font-family: 'Google Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: cover;
}

/* Header Styling */
header {
    background-color: #000000ff;
    padding: 0.5rem 1rem;
    color: #ffffff; /* Weißer Text im Header */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Elemente links und rechts platzieren */
}

/* Logo Styling */
.header-logo {
    height: 70px; /* Größe des Logos */
    width: auto;
    margin-left: calc(15vw); /* Dynamischer Abstand vom linken Rand */
    cursor: pointer;
}

/* Styling für die rechte Seite (Text, Dropdown, Button) */
.header-right {
    display: flex;
    align-items: center;
    gap: 1rem; /* Abstand zwischen den Elementen */
    color: #ffffff; /* Weißer Text auf der rechten Seite */
}

/* Dropdown-Menü Styling */
header select {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #ffffffff;
    backdrop-filter: blur(10px);
    border: none;
}

/* Button Styling */
header button {
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: .5rem;
    border: 2px solid rgb(0, 0, 0);
    background-color: #ffffffff;
    backdrop-filter: blur(10px);
}

header button:hover {
    background-color: #ffffff;
    scale: 1.1;
    border: 2px solid rgb(0, 0, 0);
}

/* Main Styling */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6rem;
}

/* Client-Karte */
.client {
    border: 2px solid #ddd;
    margin: 1rem;
    padding: 1rem;
    width: 500px;
    text-align: center;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.client:hover {
    animation: colorChange 3s infinite;
}

/* Bild Styling */
.client img {
    width: 230px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.client h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.client p {
    color: #000000;
    margin: 0.5rem 0;
}

/* Links Styling */
.client a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    color: #383838;
    text-decoration: none;
    border-radius: 14px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.39);
    text-shadow: 0 0 1px rgb(0, 0, 0);
    transition: transform 0.5s ease;
}

.client a:hover {
    background-color: #00ff22;
    transform: scale(1.3);
}

.recommended {
    border: 8px solid rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255) 0px 0px 8px;
}

/* Medienabfrage für kleinere Geräte */
@media (max-width: 768px) {
    .header-logo {
        margin-left: calc(5vw); /* Weniger Abstand bei kleineren Bildschirmen */
        height: 50px; /* Verkleinerung des Logos */
    }

    .header-right {
        gap: 0.5rem; /* Weniger Abstand bei kleineren Bildschirmen */
    }
}
